#!/bin/sh

# 0000:02:00.0 'NetLink BCM57785 Gigabit Ethernet PCIe 16b5' if=enp2s0f0 drv=tg3 unused=igb_uio,vfio-pci,uio_pci_generic
ETH=enp2s0f0
PCI=0000:02:00.0
# 0000:03:00.0 'AR9462 Wireless Network Adapter 0034' if=wlp3s0 drv=ath9k unused=igb_uio,vfio-pci,uio_pci_generic *Active*
WIFI0=wlp3s0

DRIVER=uio_pci_generic
HUGESIZE=64

DPDK_VERSION=22.11.9
DPDK_ROOT=/usr
DEVBIND=$DPDK_ROOT/bin/dpdk-devbind.py
TESTPMD=$DPDK_ROOT/bin/dpdk-testpmd
DPDKPY=lib/pcpp/setup_dpdk.py

$DPDKPY status -v
sudo $DPDKPY setup -r $DPDK_ROOT -g $HUGESIZE -i $ETH -m $DRIVER 
ip addr
$DPDKPY status -v
