#!/bin/sh

## 0000:01:00.0
## 'MT27800 Family [ConnectX-5] 1017'
## if=enp1s0np0 drv=mlx5_core unused=igb_uio,vfio-pci,uio_pci_generic
ETH1=enp1s0np0
PCI1=0000:01:00.0
IP1=10.120.101.111
IPR=10.120.101.11

ETH2=enp2s0np1
PCI2=0000:02:00.0
IP2=10.120.101.222

DRIVER=vfio-pci
HUGESIZE=2048

DPDK_VERSION=24.11.3
DPDK_ROOT=/usr/local
DEVBIND=$DPDK_ROOT/bin/dpdk-devbind.py
DPDKPY=lib/pcpp/setup_dpdk.py
